.App {
  text-align: center;
  margin-top: 20px; 
}

/* #main {
  background-image: url("../IMG/IMG_2905.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: 100% 100%;
} */

/* .GearCard-main-img {
    width: 400px !important; 
    height: 400px !important;
} */

/* .App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
} */
