.App {
  text-align: center;
}

/* .NavBar {
  background-color: black; 
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: 100% 100%;
} */

/* .GearCard-main-img {
    width: 400px !important; 
    height: 400px !important;
} */

/* .App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
} */
